<section class="bg-about text-white py-4 mt-100 d-flex align-items-center">
    <div class="container text-center pt-md-5 mt-md-5">
        <h2 class="text-uppercase fs-1 fw-bold mb-0 ">about component</h2>
        <app-star>
            <div class="d-flex align-items-center justify-content-center my-3">
                <div class=" bg-white me-3 line" ></div>
                <i class="fa-solid fa-star"></i>
                <div class=" bg-white ms-3 line" ></div>
            </div>
        </app-star>
      <div class="row pb-md-5 mb-md-5 gy-3">
        <div class="col-md-6">
            <div class="inner text-start">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner text-start">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
        </div>
      </div>
    </div>
    
</section>