<section class="bg-home text-white py-4 mt-86 d-flex align-items-center">
    <div class="container text-center">
        <img src="../../assets/images/avataaars.svg" class="mb-5" alt="avatar">
        
        <app-star>
            <h2 class="text-uppercase fs-1 fw-bold mb-0 ">start Framework</h2>
            <div class="d-flex align-items-center justify-content-center my-3">
                <div class=" bg-white me-3 line"></div>
                <i class="fa-solid fa-star"></i>
                <div class=" bg-white ms-3 line"></div>
            </div>
        </app-star>
        <p class="mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
    
</section>
